@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #1a1a1a;
    --color-black-heavy: #000000;
    --color-text: #ffffff;
    --color-text-out: #1a1a1a;
    --color-primary: ;
    --color-background2: #efefef;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
}

* {
    margin: 0;
    padding: 0;
}



.hamburger {
    cursor: pointer;
    transform: scale(0.6);
    position: relative;
    top: -18px;
    right: 25px;
   
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  


html, body {
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: #1a1a1a;
    color: var(--color-white);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.hidden {
    display: none!important;
}

.color-primary {
    color: var(--color-primary);
}

/* header */

a.navbar-brand {
    margin-left: -25px;
}

.nav-link {
    color: var(--color-white)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
}

.nav-link:hover {
    color: var(--color-text)!important;
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.349);
    transition: 0.2s linear;
    transform: scale(0.8);
}

.btn-white:hover {
    transform: scale(0.9);
}

.btn-white.active {
    background-color: var(--color-primary);
}
.btn-icon {
    padding-right: 75px;
}

.theme-checkbox {
    --toggle-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #1a1a1a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #1a1a1a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
    transform: scale(0.4);
}
  
.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
  
.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}
  
.theme-checkbox:checked {
    background-position: 100%;
}

/*resumo*/

.nome-destaque {
    font-size: 68px;
    font-weight: 600;
    
    background: linear-gradient(90deg, #530394, #8F18CA, #ED13FF, #CC67EF, #530394);
    background-size: 400% 100%;
    animation: degrade 15s linear infinite alternate;
    background-clip: css;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 400%;
    }
}

.botao-resumo {
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--color-black-heavy);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    transition: all .4s;
    text-align: center;
    padding-top: 2px;
   }
   
   .botao-resumo:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #530394,
     0 15px 0 -4px #ED13FF,
     0 16px 10px -3px #ED13FF;
   }
   
   .botao-resumo:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #530394,
     0 8px 0 -4px #ED13FF,
     0 12px 10px -3px #ED13FF;
   }

.icon-rede {
    margin-right: 7px;
}

.div-botoes-resumo {
    margin-bottom: 150px!important;
}


/*cursos*/

.cursos h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}

.wave1 {
    display: flex!important;
   
}

.wave2 {
    position: relative;
    top: -10px;
}

.session-name {
    display: flex;
    padding-bottom: 100px;

}

.cursos {
    background-color: var(--color-black-heavy);
    height: 1000px;
    position: relative;
    top: -10px;
    
}

.grupo-botoes-cursos {
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    
}

.grupo-botoes-cursos::-webkit-scrollbar{
    width: 6px;
    background: transparent;
}

.grupo-botoes-cursos::-webkit-scrollbar-thumb {
    background: var(--color-black-heavy);
}

.grupo-botoes-cursos::-webkit-scrollbar-track {
    background: transparent;
}

.btn-cursos {
    background-color: var(--color-background);
    border: 2px solid #8F18CA;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 145px;
    min-width: 145px;
    margin-right: 5px;
    border-radius: 30px;
}

.btn-cursos:hover {
    border-radius: 30px;
    transform: none;
    box-shadow: none;
}













