@media screen and (max-width: 770px) {
    .botoes-resumo {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap;
        margin: 0 auto!important;
        gap: 15px!important;
        justify-content: center;
        align-items: center;
        
    }

    .grupo-botoes-cursos {
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        justify-content: start;
    }

    
}