



@media  screen and (max-width: 1168px) {
    .container-polaroid {
        margin: auto!important;
        padding-left: 140px;
        grid-gap: 20px;
    }
}

@media screen and (max-width: 991px){
    .div-cursos-selecionados{
        display: flex;
        margin: 50px auto!important;
        
        
    }
}

@media screen and (max-width: 951px) {
    .container-polaroid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0!important;
    }
}



@media screen and (max-width: 770px) {


    .botoes-resumo {
        display: flex!important;
        flex-direction: row!important;
        flex-wrap: wrap;
        margin: 0 auto!important;
        gap: 15px!important;
        justify-content: center;
        align-items: center;
        
    }

    .cursos {
        height: 850px;
    }

    .grupo-botoes-cursos {
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        justify-content: start;
    }

    .div-img-linguagem {
        margin-left: 0px;
    }

    .div-cursos-selecionados .curso2 {
        display: none;
    }

    .div-cursos-selecionados {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-curso {
        opacity: 0.9;
    }

    .bolinha-curso {
        justify-content: center;
        align-items: center;
        display: none;
        background-color: white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .bolinha-curso-ativa {
    background-color: #ED13FF;
    box-shadow: 1px 1px 15px #b91fc7;
    }

    .container-polaroid {
        display: flex;
        justify-content: center;
    }

    .polaroid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    h2 {
        font-size: 100px!important;
    }


    .interesses h1{
        font-size: 150px;
        
        
    }
}